<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light" style="background-color: #98d3e7;">
    <%= link_to "おにぎりミッケ", root_path, class: "navbar-brand" %>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to "新規登録", "#", class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログイン', "#" ,class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
